@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  min-width: 640px;
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.parent {
  width: 100px;
  height: 100px;
  background-color: darkorange;
}

.child {
  width: 50px;
  height: 50px;
  background-color: red;
  animation: circle-around 3s infinite alternate;
}

/* .parent:hover .child {
  
} */

@keyframes circle-around {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translateX(100%) translateY(100%);
  }
  100% {
    transform: translateX(100%);
  }
  
}
